/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open sans', sans-serif;
    background-color: #dee2e6;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: 200;
}

.container {
    background-color: #343a40;
    height: 700px;
    width: 450px;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid black;
    border-radius: 8px;
}

.input {
    color: #f8f9fa;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.btn {
    border: 1px solid black;
    font-size: 48px;
    cursor: pointer;
    font-weight: 200;
}

.operator {
    background-color: #22b8cf;
}

.operator:hover {
    background-color: #15aabf;
}

.operator:active {
    background-color: #1098ad;
}

.clear {
    grid-column: span 2;
}

.zero {
    grid-column: span 3;
}

.clear, 
.backspace {
    background-color: #adb5bd;
}

.cancel:hover,
.backspace:hover {
    background-color: #9ca3aa;
}

.cancel:active,
.backspace:active {
    background-color: #8a9197;
}

.num {
    background-color: #e9ecef;
}

.num:hover {
    background-color: #d2d4d7;
}

.num:active {
    background-color: #babdbf;
}