* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dee2e6;
    font-family: 'Open Sans', sans-serif;
}

.calc {
    background-color: #343a40;
    color: #f1f3f5;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.input {
    height: 80px;
    font-size: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
}

.calc-buttons {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.calc-button-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calc-button {
    background-color: #f1f3f5;
    border-radius: 0;
    border: 1px solid #343a40;
    cursor: pointer;
    font-size: 21px;
}

.calc-button:hover {
    background-color: #e9ecef;
}

.calc-button:active {
    background-color: #dee2e6;
}

.calc-button:last-child {
    background-color: #228be6;
}

.calc-button:last-child:hover {
    background-color: #1c7ed6;
}
.calc-button:last-child:active {
    background-color: #1971c2;
}

.double {
    grid-column: span 2;
    background-color: #adb5bd;
}

.double:hover,
.backspace:hover  {
    background-color: #868e96;
}

.double:active,
.backspace:active {
    background-color: #495057;
}

.triple {
    grid-column: span 3;
}

.backspace {
    background-color: #adb5bd;
}